/* global styling selected for repsonsive */

html, body {
    height: 100%;
    margin: 0;
  }
  
body {
    margin: 5px;
    /* font: Montserrat; */
    font-family: Impact;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    padding: 10px;


    display: flex;
    flex-direction: column; 
  }

  header{
    background-color: #616161;
    color: #ffffff;
    text-transform: uppercase;
    padding:10px;
    justify-content: center;
    text-align: center;
  }

  nav{
    /* background: #616161;
    color:#9ff7ff; */
    background:#0055ff;
  }

 ul{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
   
    display: flex;
    justify-content: center;
  }

  ul li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding:12px;
  }


  main{
    flex:1;

    justify-content: center;
    padding: 20px;
    text-align: center;


  }

  .center-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
  }


  footer{
    /* background: #616161; */
    background-color: #616161;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
  }